[submodule "vendor/zfat"]
	path = vendor/zfat
	url = https://github.com/ZigEmbeddedGroup/zfat
[submodule "vendor/disk-image-step"]
	path = vendor/disk-image-step
	url = git@github.com:zig-osdev/disk-image-step.git
[submodule "vendor/foundation-libc"]
	path = vendor/foundation-libc
	url = https://github.com/ZigEmbeddedGroup/foundation-libc
