[submodule "vendor/zfat"]
	path = vendor/zfat
	url = https://github.com/ZigEmbeddedGroup/zfat
[submodule "vendor/text-editor"]
	path = vendor/text-editor
	url = https://github.com/MasterQ32/TextEditor
[submodule "vendor/zigimg"]
	path = vendor/zigimg
	url = https://github.com/zigimg/zigimg/
