html {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}




body {
    display: flex;
    flex-direction: column;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 4rem auto;
}

#logo {
    padding: 0.25rem;
    fill: darkviolet;
}

nav .navigation {
    display: grid;
    flex-direction: column;

    grid-template-rows: 50% 2em;

    padding: 0.5rem;
    gap: 0.25rem;
}

#searchbox {
    flex: 1;
}

#searchbox input {
    width: 100%;
}

#breadcrumbs {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#breadcrumbs a {
    display: inline-block;
    padding: 0 0.5em;
    margin: 0;
    font-family: monospace;
    height: 2em;
    line-height: 2em;
    text-decoration: none;
}

#breadcrumbs a:hover {
    display: inline-block;
    background-color: #EEE;
}

#breadcrumbs a[data-active] {
    background: #FFBB4D;
    color: black;
}

main {
    padding: 0.5rem;
}

main section:not(:target) {
    display: none;
}

#ashet {
    display: block;
}

main section:target~#ashet {
    display: none;
}

main section ul {
    column-width: 15em;
    margin-left: 2em;
}

main section h1 {
    border-bottom: 1px dashed;
    margin-bottom: 1em;
}

main section h2 {
    border-bottom: 1px solid;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

main section dl {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 100%;
}

main section dl>div {
    border: 1px solid;
    padding: 0.5em;
}

main section dl>div dd p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main section div.docs h3 {
    font-weight: bold;
    margin-top: 0.5em;
}

main section div.docs p {
    margin-left: 1em;
}

main section dl div.docs {
    display: none;
}

code .tok-kw {
    color: #eee;
}

code .tok-type {
    color: #68f;
}

code .tok-name {
    color: #B1A0F8;
}




@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: #ddd;
    }

    main section dl>div {
        border-color: #373737;
    }

    #breadcrumbs {
        background-color: #333;
        color: white;
    }

    #breadcrumbs a {
        color: white;
    }

    a {
        color: #88f;
    }

    code a {
        color: #ccc;
    }
}