* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 4rem 100%;
    grid-template-columns: 25rem auto;

    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 8rem;

    font-family: sans-serif;
}

body>header {
    grid-row: 1;
    grid-column: 1/2;
}

body>nav {
    grid-row: 2;
    grid-column: 1;
}

body>main {
    grid-row: 2;
    grid-column: 2;
    box-shadow: black 2px 2px 10px;
}

main {
    padding: 2em;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    margin-bottom: 0.5em;
    font-family: serif;
}

main h1 {
    border-bottom: 1px solid silver;
}

main p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main ul,
main ol {
    padding-left: 2em;
}


main p code,
main li code {
    background-color: #DDD;
    border-radius: 0.25em;
    padding: 1pt;
}

main pre {
    border: 2px inset silver;
    background-color: #EEE;
    padding: 0.25em;
}