<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Ashet OS - [[TITLE]]</title>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="[[RELPATH]]theme.css">
		[[HEADER]]
	</head>
	<body>
		<header class="panel">
			<h1>Ashet OS</h1>
			<hr>
			<nav>
				<ul>
					<li><a href="[[RELPATH]]">Start</a></li>
					<li><a href="[[RELPATH]]wiki">Wiki</a></li>
					<li><a href="[[RELPATH]]syscalls">Kernel Interface</a></li>
					<li><a href="[[RELPATH]]livedemo">Live Demo</a></li>
				</ul>
			</nav>
			<div class="flex-spacer"></div>
			<search>
				<input type="search" name="query" placeholder="Search…">
			</search>
		</header>
		[[MAIN]]
	</body>
</html>
